<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Iugu\Payment\Api\CreditCardManagementInterface" type="Iugu\Payment\Model\CreditCardManagement" />
    <preference for="Iugu\Payment\Api\InvoiceManagementInterface" type="Iugu\Payment\Model\InvoiceManagement" />

    <!-- Default -->

        <virtualType name="IuguPaymentFacade" type="Magento\Payment\Model\Method\Adapter">
            <arguments>
                <argument name="code" xsi:type="const">\Iugu\Payment\Model\Ui\ConfigProvider::CODE</argument>
                <argument name="valueHandlerPool" xsi:type="object">IuguValueHandlerPool</argument>
                <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            </arguments>
        </virtualType>
        <!-- Value handlers infrastructure -->
        <virtualType name="IuguValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
            <arguments>
                <argument name="handlers" xsi:type="array">
                    <item name="default" xsi:type="string">IuguConfigValueHandler</item>
                </argument>
            </arguments>
        </virtualType>
        <virtualType name="IuguConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
            <arguments>
                <argument name="configInterface" xsi:type="object">IuguConfig</argument>
            </arguments>
        </virtualType>

        <virtualType name="IuguConfig" type="Magento\Payment\Gateway\Config\Config">
            <arguments>
                <argument name="methodCode" xsi:type="const">\Iugu\Payment\Model\Ui\ConfigProvider::CODE</argument>
            </arguments>
        </virtualType>

        <virtualType name="IuguLogger" type="Magento\Payment\Model\Method\Logger">
            <arguments>
                <argument name="config" xsi:type="object">IuguConfig</argument>
            </arguments>
        </virtualType>

        <type name="Iugu\Payment\Helper\IuguHelper">
            <arguments>
                <argument name="configCC" xsi:type="object">IuguCCConfig</argument>
            </arguments>
        </type>

        <type name="Iugu\Payment\Model\Api\IuguBase">
            <arguments>
                <argument name="logger" xsi:type="object">IuguLogger</argument>
                <argument name="config" xsi:type="object">IuguConfig</argument>
            </arguments>
        </type>

        <!-- Order Client -->
        <type name="Iugu\Payment\Gateway\Http\Client\OrderClient">
            <arguments>
                <argument name="logger" xsi:type="object">IuguLogger</argument>
            </arguments>
        </type>

        <!-- Transfer Factory -->
        <type name="Iugu\Payment\Gateway\Http\TransferFactory">
            <arguments>
                <argument name="config" xsi:type="object">IuguConfig</argument>
            </arguments>
        </type>

        <type name="Iugu\Payment\Gateway\Request\PayerDataBuilder">
            <arguments>
                <argument name="config" xsi:type="object">IuguConfig</argument>
            </arguments>
        </type>

        <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
            <arguments>
                <argument name="executors" xsi:type="array">
                    <item name="iugu_cc" xsi:type="string">IuguCCCommandManager</item>
                    <item name="iugu_bs" xsi:type="string">IuguBSCommandManager</item>
                </argument>
            </arguments>
        </type>

        <!-- Error messages mapper -->
        <virtualType name="Iugu\Payment\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
            <arguments>
                <argument name="fileName" xsi:type="string">iugu_payment_error_mapping.xml</argument>
            </arguments>
        </virtualType>
        <virtualType name="Iugu\Payment\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
            <arguments>
                <argument name="reader" xsi:type="object">Iugu\Payment\Gateway\ErrorMapper\VirtualConfigReader</argument>
                <argument name="cacheId" xsi:type="string">iugu_payment_error_mapper</argument>
            </arguments>
        </virtualType>
        <type name="Iugu\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
            <arguments>
                <argument name="messageMapping" xsi:type="object">Iugu\Payment\Gateway\ErrorMapper\VirtualMappingData</argument>
            </arguments>
        </type>
        <!-- /Error messages mapper -->
    <!-- /Default -->

    <!-- Credit Card -->

        <virtualType name="IuguPaymentCCFacade" type="Magento\Payment\Model\Method\Adapter">
            <arguments>
                <argument name="code" xsi:type="const">\Iugu\Payment\Model\Ui\ConfigProvider::CC_CODE</argument>
                <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
                <argument name="infoBlockType" xsi:type="string">Iugu\Payment\Block\Info\CreditCard</argument>
                <argument name="valueHandlerPool" xsi:type="object">IuguCCValueHandlerPool</argument>
                <argument name="commandPool" xsi:type="object">IuguCCCommandPool</argument>
            </arguments>
        </virtualType>
        <!-- Configuration reader -->
        <virtualType name="IuguCCConfig" type="Magento\Payment\Gateway\Config\Config">
            <arguments>
                <argument name="methodCode" xsi:type="const">\Iugu\Payment\Model\Ui\ConfigProvider::CC_CODE</argument>
            </arguments>
        </virtualType>
        <!-- Logger, initialized with IuguConfig -->
        <type name="Iugu\Payment\Model\InvoiceManagement">
            <arguments>
                <argument name="logger" xsi:type="object">IuguLogger</argument>
            </arguments>
        </type>
        <!-- Command manager -->
        <virtualType name="IuguCCCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
            <arguments>
                <argument name="commandPool" xsi:type="object">IuguCCCommandPool</argument>
            </arguments>
        </virtualType>
        <!-- Commands infrastructure -->
        <virtualType name="IuguCCCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
            <arguments>
                <argument name="commands" xsi:type="array">
                    <item name="order" xsi:type="string">IuguCCOrderCommand</item>
                </argument>
            </arguments>
        </virtualType>
        <!-- Order command -->
        <virtualType name="IuguCCOrderCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
            <arguments>
                <argument name="requestBuilder" xsi:type="object">IuguCCOrderRequest</argument>
                <argument name="transferFactory" xsi:type="object">Iugu\Payment\Gateway\Http\TransferFactory</argument>
                <argument name="client" xsi:type="object">Iugu\Payment\Gateway\Http\Client\OrderClient</argument>
                <argument name="validator" xsi:type="object">IuguResponseValidatorComposite</argument>
                <argument name="handler" xsi:type="object">IuguOrderResponseHandlerComposite</argument>
                <argument name="errorMessageMapper" xsi:type="object">Iugu\Payment\Gateway\ErrorMapper\ErrorMessageMapper</argument>
            </arguments>
        </virtualType>
        <!-- Order Request -->
        <virtualType name="IuguCCOrderRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
            <arguments>
                <argument name="builders" xsi:type="array">
                    <item name="charge" xsi:type="string">Iugu\Payment\Gateway\Request\ChargeDataBuilder</item>
                    <item name="payer" xsi:type="string">Iugu\Payment\Gateway\Request\PayerDataBuilder</item>
                    <item name="credit_card" xsi:type="string">Iugu\Payment\Gateway\Request\CreditCardDataBuilder</item>
                    <item name="items" xsi:type="string">Iugu\Payment\Gateway\Request\ItemsDataBuilder</item>
                </argument>
            </arguments>
        </virtualType>
        <!-- Value handlers infrastructure -->
        <virtualType name="IuguCCValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
            <arguments>
                <argument name="handlers" xsi:type="array">
                    <item name="default" xsi:type="string">IuguCCConfigValueHandler</item>
                </argument>
            </arguments>
        </virtualType>
        <virtualType name="IuguCCConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
            <arguments>
                <argument name="configInterface" xsi:type="object">IuguCCConfig</argument>
            </arguments>
        </virtualType>

        <type name="Iugu\Payment\Block\Info\CreditCard">
            <arguments>
                <argument name="config" xsi:type="object">IuguCCConfig</argument>
            </arguments>
        </type>
    <!-- /Credit Card -->

    <!-- Bank slip -->
        <!-- Configuration reader -->
        <virtualType name="IuguBSConfig" type="Magento\Payment\Gateway\Config\Config">
            <arguments>
                <argument name="methodCode" xsi:type="const">\Iugu\Payment\Model\Ui\ConfigProvider::BS_CODE</argument>
            </arguments>
        </virtualType>
        <virtualType name="IuguPaymentBSFacade" type="Magento\Payment\Model\Method\Adapter">
            <arguments>
                <argument name="code" xsi:type="const">\Iugu\Payment\Model\Ui\ConfigProvider::BS_CODE</argument>
                <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
                <argument name="infoBlockType" xsi:type="string">Iugu\Payment\Block\Info\BankSlip</argument>
                <argument name="valueHandlerPool" xsi:type="object">IuguBSValueHandlerPool</argument>
                <argument name="commandPool" xsi:type="object">IuguBSCommandPool</argument>
            </arguments>
        </virtualType>
        <!-- Value handlers infrastructure -->
        <virtualType name="IuguBSValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
            <arguments>
                <argument name="handlers" xsi:type="array">
                    <item name="default" xsi:type="string">IuguBSConfigValueHandler</item>
                </argument>
            </arguments>
        </virtualType>
        <virtualType name="IuguBSConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
            <arguments>
                <argument name="configInterface" xsi:type="object">IuguBSConfig</argument>
            </arguments>
        </virtualType>
        <!-- Command manager -->
        <virtualType name="IuguBSCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
            <arguments>
                <argument name="commandPool" xsi:type="object">IuguBSCommandPool</argument>
            </arguments>
        </virtualType>
        <!-- Commands infrastructure -->
        <virtualType name="IuguBSCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
            <arguments>
                <argument name="commands" xsi:type="array">
                    <item name="order" xsi:type="string">IuguBSOrderCommand</item>
                </argument>
            </arguments>
        </virtualType>
        <!-- Order command -->
        <virtualType name="IuguBSOrderCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
            <arguments>
                <argument name="requestBuilder" xsi:type="object">IuguBSOrderRequest</argument>
                <argument name="transferFactory" xsi:type="object">Iugu\Payment\Gateway\Http\TransferFactory</argument>
                <argument name="client" xsi:type="object">Iugu\Payment\Gateway\Http\Client\OrderClient</argument>
                <argument name="validator" xsi:type="object">IuguResponseValidatorComposite</argument>
                <argument name="handler" xsi:type="object">IuguOrderResponseHandlerComposite</argument>
                <argument name="errorMessageMapper" xsi:type="object">Iugu\Payment\Gateway\ErrorMapper\ErrorMessageMapper</argument>
            </arguments>
        </virtualType>
        <!-- Order Request -->
        <virtualType name="IuguBSOrderRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
            <arguments>
                <argument name="builders" xsi:type="array">
                    <item name="charge" xsi:type="string">Iugu\Payment\Gateway\Request\ChargeDataBuilder</item>
                    <item name="payer" xsi:type="string">Iugu\Payment\Gateway\Request\PayerDataBuilder</item>
                    <item name="bank_slip" xsi:type="string">Iugu\Payment\Gateway\Request\BankSlipDataBuilder</item>
                    <item name="items" xsi:type="string">Iugu\Payment\Gateway\Request\ItemsDataBuilder</item>
                </argument>
            </arguments>
        </virtualType>
        <type name="Iugu\Payment\Gateway\Request\BankSlipDataBuilder">
            <arguments>
                <argument name="configBS" xsi:type="object">IuguBSConfig</argument>
            </arguments>
        </type>
    <!-- /Bank slip -->

    <!-- Response Validators -->
    <virtualType name="IuguResponseValidatorComposite" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="success" xsi:type="string">Iugu\Payment\Gateway\Validator\ResponseSuccessValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Order Response handlers -->
    <virtualType name="IuguOrderResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="details" xsi:type="string">Iugu\Payment\Gateway\Response\PaymentDetailsHandler</item>
                <item name="payment" xsi:type="string">Iugu\Payment\Gateway\Response\PendingPaymentHandler</item>
                <item name="invoice" xsi:type="string">Iugu\Payment\Gateway\Response\PendingInvoiceHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Webapi\Rest\Request\DeserializerFactory">
        <arguments>
            <argument name="deserializers" xsi:type="array">
                <item name="application_x_www_form_urlencoded" xsi:type="array">
                    <item name="type" xsi:type="string">application/x-www-form-urlencoded</item>
                    <item name="model" xsi:type="string">Iugu\Payment\Webapi\Rest\Request\Deserializer\XWwwFormUrlencoded</item>
                </item>
                <item name="application_json" xsi:type="array">
                    <item name="type" xsi:type="string">application/json</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Json</item>
                </item>
                <item name="application_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="application_xhtml_xml" xsi:type="array">
                    <item name="type" xsi:type="string">application/xhtml+xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
                <item name="text_xml" xsi:type="array">
                    <item name="type" xsi:type="string">text/xml</item>
                    <item name="model" xsi:type="string">Magento\Framework\Webapi\Rest\Request\Deserializer\Xml</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
