<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="iugu_payment_data_assign" instance="Iugu\Payment\Observer\DataAssignObserver" />
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="iugu_payment_reset_data" instance="Iugu\Payment\Observer\ResetDataObserver" />
    </event>
</config>
