<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, afterRender: iuguRendered">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {
               'id': getCode()
               },
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <div data-bind="visible: isTest()" class="page messages">
            <div role="alert" class="messages">
                <div class="message-warning warning message">
                    <span data-bind="i18n: 'Test mode'"></span> (<a target="_blank" href="https://support.iugu.com/hc/pt-br/articles/201726767-ID-da-conta-e-tokens-de-API-de-teste-e-de-produ%C3%A7%C3%A3o"><span data-bind="i18n: 'more info'"></span></a>)
                </div>
            </div>
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form"
              data-bind="attr: {
              id: getCode() + 'Form',
              }"
              data-mage-init='{"validation": {}}'>
            <fieldset data-bind="attr: {class: 'fieldset payment items bank_slip ' + getCode(), id: 'payment_form_' + getCode(), name: 'payment_form_' + getCode()}">
                <div class="field required" data-bind="visible: ask_taxvat">
                    <label data-bind="attr: {for: getCode() + 'Taxvat'}" class="label">
                        <span><!-- ko i18n: 'Taxvat'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               data-bind="attr: {
                                   id: getCode() + 'Taxvat',
                                   'data-container': getCode() + '-taxvat',
                                   'data-validate': JSON.stringify({'required':true, 'validate-taxvat':'#' + getCode() + 'Taxvat'}),
                                   class: 'input-text iugu_paymentTaxvat'
                               },
                               value: taxvat,
                               'valueUpdate': 'keyup'"/>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        disabled="disabled"
                        data-bind="
                    click: placeOrder,
                    attr: {title: $t('Place Order')},
                    css: {disabled: !isPlaceOrderActionAllowed()},
                    enable: (getCode() == isChecked())
                    ">
                    <span data-bind="i18n: 'Place Order'">Place Order</span>
                </button>
            </div>
        </div>
    </div>
</div>
