<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}, afterRender: iuguRendered">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {
               'id': getCode()
               },
               value: getCode(),
               checked: isChecked,
               click: selectPaymentMethod,
               visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
        </label>
        <div data-bind="visible: isTest()" class="page messages">
            <div role="alert" class="messages">
                <div class="message-warning warning message">
                    <span data-bind="i18n: 'Test mode'"></span> (<a target="_blank" href="https://support.iugu.com/hc/pt-br/articles/201726767-ID-da-conta-e-tokens-de-API-de-teste-e-de-produ%C3%A7%C3%A3o"><span data-bind="i18n: 'more info'"></span></a>)
                </div>
            </div>
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <form class="form"
              data-bind="attr: {
              id: getCode() + 'Form',
              }"
              data-mage-init='{"validation": {}}'>

            <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode(), name: 'payment_form_' + getCode()}">

                <div data-bind="attr: { class: 'field ccic-brand ' +getCardBrand() }">
                    <div data-bind="attr: { class: 'icon ccic-brand amex' }"></div>
                    <div data-bind="attr: { class: 'icon ccic-brand visa' }"></div>
                    <div data-bind="attr: { class: 'icon ccic-brand diners' }"></div>
                    <div data-bind="attr: { class: 'icon ccic-brand mastercard' }"></div>
                </div>
                <div class="field number required" data-bind="attr: {id: getCode() + '-cc-number'}">
                    <label data-bind="attr: {for: getCode() + 'CardNumber'}" class="label">
                        <span><!-- ko i18n: 'Card number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               placeholder="0000 0000 0000 0000"
                               class="input-text"
                               data-iugu="number"
                               data-bind="attr: {
                                   id: getCode() + 'CardNumber',
                                   'data-container': getCode() + '-cc-number',
                                   'data-validate': JSON.stringify({'required':true, 'validate-cc-number':'#' + getCode() + 'CardNumber', 'validate-cc-type':'#' + getCode() + 'CardNumber'}),
                                   'data-brand' : getCardBrand(),
                                   'data-allowedTypes': ccTypeAllowed
                               },
                               value: iuguCardNumber,
                               'valueUpdate': 'keyup'"/>
                    </div>
                </div>

                <div class="field date required expiration" data-bind="attr: {id: getCode() + '-cc-expiration'}">
                    <label data-bind="attr: {for: getCode() + 'CardExpirationDate'}" class="label">
                        <span><!-- ko i18n: 'Expiry date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               class="input-text"
                               placeholder="00/0000"
                               data-iugu="expiration"
                               data-bind="attr: {
                               autocomplete: off,
                               id: getCode() + 'CardExpirationDate',
                               'data-container': getCode() + '-cc-expiration',
                               'data-validate': JSON.stringify({
                                    'required': true,
                                    'validate-card-date': '#' + getCode() + 'CardExpirationDate'
                                })
                               },
                               'valueUpdate': 'keyup',
                               value: iuguCardExpirationDate"/>
                    </div>
                </div>

                <div class="field cvv required" data-bind="attr: {id: getCode() + '-cc-cvv'}">
                    <label data-bind="attr: {for: getCode() + 'CardSecurityCode'}" class="label">
                        <span><!-- ko i18n: 'Security code'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="password"
                               autocomplete="off"
                               class="input-text cvv"
                               data-iugu="verification_value"
                               data-bind="attr: {
                                   id: getCode() + 'CardSecurityCode',
                                   'data-container': getCode() + '-cc-cvv',
                                   'data-validate': JSON.stringify({
                                       'required-number': true,
                                       'validate-card-cvv': '#' + getCode() + 'CardSecurityCode'
                                   }),
                                   'data-brand' : getCardBrand()
                               },
                               value: iuguCardCvv"/>
                    </div>
                </div>

                <div class="field holdername type required" data-bind="attr: {id: getCode() + '-cc-owner'}">
                    <label data-bind="attr: {for: getCode() + 'CardHolderName'}" class="label">
                        <span><!-- ko i18n: 'Name on card'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               class="input-text"
                               data-iugu="full_name"
                               data-bind="attr: {
                               autocomplete: off,
                               id: getCode() + 'CardHolderName',
                               'data-container': getCode() + '-cc-owner',
                               'data-validate': JSON.stringify({
                                    'required': true,
                                    'validate-card-holder': '#' + getCode() + 'CardHolderName'
                                })
                               },
                               value: iuguCardHolderName"/>
                    </div>
                </div>

                <div class="field required taxvat" data-bind="attr: {id: getCode() + '-taxvat'}, visible: ask_taxvat">
                    <label data-bind="attr: {for: getCode() + 'Taxvat'}" class="label">
                        <span><!-- ko i18n: 'Taxvat'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               data-bind="attr: {
                                   id: getCode() + 'Taxvat',
                                   'data-container': getCode() + '-taxvat',
                                   'data-validate': JSON.stringify({
                                        'required':true,
                                        'validate-taxvat':'#' + getCode() + 'Taxvat'
                                    }),
                                   class: 'input-text iugu_paymentTaxvat'
                               },
                               value: taxvat,
                               'valueUpdate': 'keyup'"/>
                    </div>
                </div>


                <div class="field installments required">
                    <label data-bind="attr: {for: getCode() + 'Installments'}" class="label">
                        <span><!-- ko i18n: 'Installments'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <select class="select"
                            data-bind="
                                id: getCode() + 'Installments',
                                options: iuguCardInstallments,
                                optionsText: function(item) {
                                   return item.text
                                },
                                optionsValue: function(item) {
                                   return item.installment
                                },
                                value: selectedInstallment
                            "></select>
                    </div>
                </div>







            </fieldset>
        </form>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        disabled="disabled"
                        data-bind="
                        click: generateTokenAndPerformPlaceOrderAction,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())">
                    <span data-bind="i18n: 'Place Order'">Place Order</span>
                </button>
            </div>
        </div>
    </div>
</div>
