<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="iugu_payment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Iugu</label>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="ambient" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ambient</label>
                    <source_model>Iugu\Payment\Model\Adminhtml\Source\Ambient</source_model>
                </field>
                <field id="account_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Account Key</label>
                </field>
                <field id="test_api_key" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Test Api Key</label>
                </field>
                <field id="production_api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Production Api Key</label>
                </field>
                <field id="use_taxvat" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use taxvat as cpf/cpnj</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Use the attribute taxvat como CPF/CNPJ<br />If false we will ask for cpf/cpnj on checkout]]></comment>
                </field>
                <field id="street_line" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Address Street Line</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="street_number_line" translate="label" type="text" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Address Street Number Line</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="street_district_line" translate="label" type="text" sortOrder="82" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Address Street District Line</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="street_complement_line" translate="label" type="text" sortOrder="83" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Address Street Complement Line</label>
                    <validate>required-entry validate-number</validate>
                </field>
                <group id="iugu_cc" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Card</label>
                    <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/iugu_cc/title</config_path>
                    </field>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/iugu_cc/active</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/iugu_cc/sort_order</config_path>
                    </field>
                    <field id="cc_type_allowed" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allowed CC Types</label>
                        <source_model>Iugu\Payment\Model\Adminhtml\Source\CCTypes</source_model>
                        <config_path>payment/iugu_cc/cc_type_allowed</config_path>
                    </field>
                    <field id="min_installment_value" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Minimum value of installment</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/min_installment_value</config_path>
                    </field>
                    <field id="max_installment_qty" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum number of installments</label>
                        <source_model>Iugu\Payment\Model\Adminhtml\Source\Installments</source_model>
                        <config_path>payment/iugu_cc/max_installment_qty</config_path>
                    </field>
                    <!--field id="installment_1" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 1nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_1</config_path>
                    </field-->
                    <field id="installment_2" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 2nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_2</config_path>
                        <!--comment>If the value is zero, it will use the value of the previous installment.</comment-->
                    </field>
                    <field id="installment_3" translate="label" type="text" sortOrder="72" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 3nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_3</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_4" translate="label" type="text" sortOrder="73" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 4nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_4</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_5" translate="label" type="text" sortOrder="74" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 5nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_5</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_6" translate="label" type="text" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 6nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_6</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_7" translate="label" type="text" sortOrder="76" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 7nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_7</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_8" translate="label" type="text" sortOrder="77" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 8nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_8</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_9" translate="label" type="text" sortOrder="78" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 9nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_9</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_10" translate="label" type="text" sortOrder="79" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 10nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_10</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_11" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 11nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_11</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                    <field id="installment_12" translate="label" type="text" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Interest on the 12nd tranche</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_cc/installment_12</config_path>
                        <comment>If the value is zero, it will use the value of the previous installment.</comment>
                    </field>
                </group>
                <group id="iugu_bs" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bank Slip</label>
                    <field id="title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                        <config_path>payment/iugu_bs/title</config_path>
                    </field>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/iugu_bs/active</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/iugu_bs/sort_order</config_path>
                    </field>
                    <!--field id="information" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Informations</label>
                        <config_path>payment/iugu_bs/information</config_path>
                        <comment>Shows for customer.</comment>
                    </field-->
                    <field id="extra_days" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Extra Days</label>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/iugu_bs/extra_days</config_path>
                        <comment>Define o prazo em dias para o pagamento do boleto.</comment>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
