.checkout-payment-method .ccard .field.ccic-brand {
    display: flex;
}

.checkout-payment-method .ccard .icon.ccic-brand
{
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background: url("../images/ccic-brands.png") no-repeat;
    -webkit-transition:background-position .2s ease-in;
    -moz-transition:background-position .2s ease-in;
    -o-transition:background-position .2s ease-in;
    transition:background-position .2s ease-in;
    filter:opacity(0.5);
}

.checkout-payment-method .ccard .amex.icon.ccic-brand {
    background-position: 0px -110px;
}
.checkout-payment-method .ccard .amex .amex.icon.ccic-brand {
    filter:opacity(1);
}

.checkout-payment-method .ccard .visa.icon.ccic-brand {
    background-position: 0px -22px;
}

.checkout-payment-method .ccard .visa .visa.icon.ccic-brand {
    filter:opacity(1);
}

.checkout-payment-method .ccard .diners.icon.ccic-brand {
    background-position: 0px -88px;
}

.checkout-payment-method .ccard .diners .diners.icon.ccic-brand {
    filter:opacity(1);
}

.checkout-payment-method .ccard .mastercard.icon.ccic-brand {
    background-position: 0px -66px;
}

.checkout-payment-method .ccard .mastercard .mastercard.icon.ccic-brand {
    filter:opacity(1);
}

@media only screen and (min-width: 768px) {
    .checkout-payment-method .ccard.iugu_cc {
        max-width: 325px;
    }
}

.checkout-payment-method .ccard .number .input-text,
.checkout-payment-method .ccard .holdername .input-text,
.checkout-payment-method .ccard .taxvat .input-text,
.checkout-payment-method .ccard .expiration .input-text {
    width: 100%;
}

.checkout-payment-method .ccard .expiration {
    width: 50%;
    float: left;
    margin-right: 10%;
}

.checkout-payment-method .ccard .cvv {
    width: 40%;
    float: left;
}

